<!doctype html>
<html>
  <body>
    <h3>My Details</h3>

    <p><b>Index Number:</b> {{ s["INDEX_NUMBER"] }}</p>
    <p><b>Title:</b> {{ s["TITLE"] }}</p>
    <p><b>First Name:</b> {{ s["FIRST_NAME"] }}</p>
    <p><b>Middle Name:</b> {{ s["MIDDLE_NAME"] }}</p>
    <p><b>Last Name:</b> {{ s["LAST_NAME"] }}</p>
    <p><b>Sex:</b> {{ s["SEX"] }}</p>
    <p><b>Date of Birth:</b> {{ s["DATE_OF_BIRTH"] }}</p>
    <p><b>Program:</b> {{ s["PROGRAM_NAME"] }}</p>
    <p><b>College:</b> {{ s["COLLEGE"] }}</p>
    <p><b>Department:</b> {{ s["DEPARTMENT"] }}</p>
    <p><b>Telephone:</b> {{ s["TELEPHONE"] }}</p>
    <p><b>Personal Email:</b> {{ s["PERSONAL_EMAIL"] }}</p>

    <p><a href="/logout">Logout</a></p>
  </body>
</html>
